.mediaViewInfo {
    --web-view-name: Design It Instructions;
    --web-view-id: Design_It_Instructions;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Design_It_Instructions;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color: #3e4044;
}

/*---------------------------------------------------------------------------HEADER---------------------------------------------------------------------------*/

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #3e4044;
    padding: 10px;
    left: 0;
    width: 100%;
}

.backgroundCodeImage {
    background-image:url("All-Images/code_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    margin-left:0px;
    margin-right:0px;
}

.backgroundTextColor {
    background-color: white;
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 135px;
}

.backgroundText {
    font-family: Source Code Pro;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.817);
}

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Futura;
    font-style: italic; 
}

.site-identity img {
    width: 60px;
    margin-right: 5px;
}

.header a.logo {
    font-size: 30px;
    font-family: Futura;
    font-style: italic;
    padding: 10px;
    margin-top: 20px;
}

.header a.logo:hover {
    background-color: rgba(255, 255, 255, 0.26); 
    text-decoration:none;
    cursor: pointer;
}

.header a:hover {
    text-decoration: underline;
}

/* Style the active/current link*/
.header a:after {
    color: white;
    text-decoration: underline;
}

/* Float the link section to the right */
.header-right {
    float: right;
    margin-top: 20px;
}

.CreativityCode {
    text-align: center;
    background-color:#3e4044;
    color: white;
    font-family: Source Code Pro;
    font-size: 40px;
    padding: 40px;
}

.CreativityCode p {
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 30px;
}

@media screen and (max-width: 810px) {
.header a {
    float: none;
    display: block;
    text-align: center;
    line-height: 40px;
}

.header a.logo {
    line-height: 70px;
}

.header-right {
    float: none;
}

.header a:hover {
    background-color: rgba(255, 255, 255, 0.26); 
}
}

@media screen and (max-width: 900px) {

.backgroundImage {
    display: none;
}

.header-right {
    margin-top: 0px;
}

.header a.logo {
    margin-top: 0px;
}

.CreativityCode {
    display:none;
}
}

div.CYM {
    font-family: Source Code Pro;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(255, 179, 0);
}

div.Caution {
    font-family: Futura;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin: 20px;
    color: #ffffff;
}

/*-------------------------------------------------------------------------HEADER END-------------------------------------------------------------------------*/

/*INTERFACE CSS*/

/*------------------------------------FLEXBOX DESIGN---------------------------------*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:20px;
    border-radius: 20px;
    margin:30px;
    height: 750px;
    justify-content: space-between;
}

div.handbox {
    background-color:#ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    width: 575px;
}

div.rightbox {
    background-color:#ffffff0d;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    width: 730px;
}

.photo {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
      }
      /* Styles for the bio */
.bio {
    font-size: 1.2em;
    line-height: 1.5;
      }