.mediaViewInfo {
    --web-view-name: Design It Instructions;
    --web-view-id: Design_It_Instructions;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Design_It_Instructions;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background-color:#5B6770;
}

/*---------------------------------------------------------------------------HEADER---------------------------------------------------------------------------*/

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #5B6770;
    padding: 10px;
    left: 0;
    width: 100%;
}

.backgroundCodeImage {
    background-image: url("All-Images/ntcbackground.png");
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin-left: 0px;
    margin-right: 0px;
}

.backgroundTextColor {
    background-color: rgba(0, 0, 0, 0.622);
    background-attachment:fixed;
    background-size: cover;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    padding: 135px;
}

.backgroundText {
    font-family: Arial;
    font-size: 60px;
    color: white;
}

/* Style the header links */
.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial;
    font-style: italic; 
}

.site-identity img {
    width: 60px;
    margin-right: 5px;
}

.header a.logo {
    font-size: 30px;
    font-family: Arial;
    font-style: italic;
    padding: 10px;
    margin-top: 20px;
}

.header a.logo:hover {
    background-color: #5B6770; 
    text-decoration:none;
    cursor: pointer;
}

.header a:hover {
    text-decoration: underline;
}

/* Style the active/current link*/
.header a:after {
    color: white;
    text-decoration: underline;
}

/* Float the link section to the right */
.header-right {
    float: right;
    margin-top: 20px;
}

.CreativityCode {
    text-align: center;
    background-image: url("All-Images/SealtheDeal.jpg");
    background-repeat: repeat;
    color: white; /* color of writing at center of image? */
    font-family: Arial;
    font-style: italic;
    font-size: 40px;
    padding: 40px;
}

.CreativityCode p {
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 30px;
}

@media screen and (max-width: 810px) {
.header a {
    float: none;
    display: block;
    text-align: center;
    line-height: 40px;
}

.header a.logo {
    line-height: 70px;
}

.header-right {
    float: none;
}

.header a:hover {
    background-color: #5B6770; 
}
}

@media screen and (max-width: 900px) {

.backgroundImage {
    display: none;
}

.header-right {
    margin-top: 0px;
}

.header a.logo {
    margin-top: 0px;
}

.CreativityCode {
    display:none;
}
}

div.CYM {
    font-family: Arial;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(255, 179, 0);
}

div.Caution {
    font-family: Arial;
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding: 30px;
    margin: 20px;
    color: #ffffff;
}

/*-------------------------------------------------------------------------HEADER END-------------------------------------------------------------------------*/

/*INTERFACE CSS*/

/*------------------------------------FLEXBOX DESIGN---------------------------------*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding:20px;
    border-radius: 20px;
    margin:30px;
    height: 750px;
    justify-content: space-between;
}

div.handbox {
    background-color:#ffffff;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    width: 575px;
}

div.rightbox {
    background-color:#ffffff0d;
    margin: 10px;
    padding: 20px;
    font-size: 25px;
    border-radius: 20px;
    width: 730px;
}

/*-------------------------------END FLEXBOX DESIGN CSS------------------------------*/


/*------------------------------------TAB DESIGN---------------------------------*/

.tablink {
    background-color:#3f3f3f;
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;
    height: 60px;
    font-family: Arial;
    font-size: 15px;
    border-radius: 10px;
}

.tablink:hover {
    text-decoration: underline;
}

.tablink:focus {
    text-decoration: underline;
}

.smallnav {
    display: flex;
    background-color:#3f3f3f;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius:10px;
    margin: 0px;
}

/*------------------------------------END TAB DESIGN---------------------------------*/


/*------------------------------------MEDIA QUERIES DESIGN IT INTERFACE----------------------------------*/

@media screen and (max-width: 1200px) {
.flex-container {
    flex-wrap: wrap;
    height: 1300px;
}

div.handbox {
    height: 600px;
    width: 1500px;
}

div.rightbox {
    height: 600px;
    width: 1500px;
}
}

@media screen and (min-width: 790px) {
div.Caution {
    display:none;
}
}

@media screen and (max-width: 790px) {
.flex-container {
    display: none
}

div.DYM {
    display: none;
}
}

/*------------------------------------END MEDIA QUERIES DESIGN IT INTERFACE----------------------------------*/

/*------------------------------------INSTRUCTIONS--DESIGN IT INTERFACE----------------------------------*/

.instructions {
    font-family: Arial;
    font-size: 18px;
    color: white;
    line-height: 25px;
    margin: 20px;
    margin-top: 30px;
}

mark.orange {
    color: orange;
    background: none;
}

mark.green {
    color: rgb(0, 255, 0);
    background: none;
}

mark.blue {
    color: cyan;
    background: none;
}

mark.purple {
    color: rgb(255, 0, 255);
    background: none;
}

mark.magenta {
    color: rgb(255, 0, 111);
    background: none;
}

mark.red {
    color: rgb(255, 82, 82);
    background: none;
}

mark.yellow {
    color:rgb(255, 218, 132);
    background:none;
}

mark.darkblue {
    color:rgb(0, 94, 255);
    background: none;
}

/*----------------------------------SKIN TONE--DESIGN IT INTERFACE--------------------------------*/

.skin-tone {
    font-family: Arial;
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin: 15px;
    margin-top: 30px;
    text-align: center;
}

.skinsvg {
    margin-left: 100px;
}

#S1, #S2, #S3, #S4, #S5, #S6, #S7, #S8, #S9, #S10 {
    border-radius: 10px;
    border: none;
    width: 80px;
    height: 30px;
    font-family: Arial;
    text-align: center;
    font-size: 14px;
    margin: 3px;
}

#S1 {
    background: #fff3ea;
}

#S2 {
    background: #ffeadb;
}

#S3 {
    background: #ffd9be;
}

#S4 {
    background: #f5bf98;
}

#S5 {
    background: #e6a06f;
}

#S6 {
    background: #cc8959;
}

#S7 {
    background: #a15b33;
}

#S8 {
    background: #834011;
    color: white;
}

#S9 {
    background: #5C2B0C;
    color: white;
}

#S10 {
    background: #3D1A09;
    color: white;
}

#skin_tone_text{
    width: 1180px;
    height: 70px;
  }

/*----------------------------------NAIL SHAPE--DESIGN IT INTERFACE--------------------------------*/

.nailShapeButton {
    background:none;
    text-align:center;
    font-family: Arial;
    color: orange;
    font-size:12px;
    cursor: pointer;
    padding: 10px;
    width: 90px;
}

.nailshape-code, #errorcheck {
    font-family: Arial;
    font-size: 15px;
    line-height: 17px;
    text-align: center;;
    color: white;
}

.text-input {
    background: none;
    font-family: Arial;
    color: rgb(255, 0, 93);
    font-size: 15px;
    width: 150px;
    text-align: center;
}

/*----------------------------------NAIL COLOR--DESIGN IT INTERFACE--------------------------------*/
.nail-color {
    font-family: Arial;
    font-size: 18px;
    line-height: 25px;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

.nail{
    --fill-color: #ffffff;
    stroke:rgb(90, 90, 90);
}

.nailColor {
    visibility: hidden;
}

/*----------------------------------NAIL STICKERS--DESIGN IT INTERFACE--------------------------------*/

.stickers-p {
    font-family: Arial;
    font-style: italic;
    line-height: 30px;
    margin: 20px;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
}

.stickerLink {
    background-color:rgba(91,102,112,255);
    color: white;
    border: none;
    cursor: pointer;
    width: 15%;
    height: 40px;
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
    border-radius: 10px;
}

.stickerLink:hover {
    text-decoration: underline;
}

.stickerLink:focus {
    text-decoration: underline;
}

.smallnavOne {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(91,102,112,255);
    border-radius:10px;
    margin: 0px;
}

.image {
    width: 40px;
    height: auto;
    padding: 4px;
}

img {
    float: left;
    max-width: 100%;
    max-height: 100%;
    resize: both;
}

div.Objects, div.Food, div.Nature, div.People, div.Symbols, div.nailbot {
    padding: 10px;
    padding-top: 25px;
    margin-left: 15px;
}

div.nailbot .image {
    width: 80px;
}

/*------------------------------------NAIL COLOR INTERFACE - DESIGN IT----------------------------------*/

svg#handSVG {
    width: 60vw;
    margin-left: 0px;
    /*height: 70vh;*/
    stroke:rgb(90, 90, 90);
}

svg #Background {
    --fill-color:#cc8959;
}

.handpara {
    text-align: center;
}

/*------------------------------------FINISH - DESIGN IT----------------------------------*/

.Finishp, #Save, #Share, .FinishButton {
    font-family: Arial;
    font-style: italic;
    text-align: center;
    font-size: 18px;
}

#Save, #Share {
    background: #5b6670;
    border-radius: 20px;
    color: white;
    width: 260px;
    height: 80px;
    cursor: pointer;
}



/*------------------------------------END NAIL COLOR INTERFACE - DESIGN IT----------------------------------*/

/*------------------------------------MORE SPECIFIC MEDIA QUERIES----------------------------------*/


@media screen and (max-width: 1380px) {

#S1, #S2, #S3, #S4, #S5, #S6, #S7, #S8, #S9, #S10 {
    width: 70px;
    height: 30px;
    margin: 5px;
    font-size: 12px;
}

.image {
    width: 34px;
    padding: 3px;
}

.tablink, .stickerLink {
    font-size: 13px;
}

}

@media screen and (max-width: 1300px) {

#S1, #S2, #S3, #S4, #S5, #S6, #S7, #S8, #S9, #S10 {
    width: 70px;
    height: 40px;
    margin: 5px;
    font-size: 11px;
}

.image {
    width: 30px;
    padding: 2px;
}

.tablink, .stickerLink {
    font-size: 12px;
}

.nailShapeButton {
    width: 60px;
}

}

@media screen and (max-width: 1200px) {
#S1, #S2, #S3, #S4, #S5, #S6, #S7, #S8, #S9, #S10 {
    width: 70px;
    height: 40px;
    margin: 5px;
    font-size: 14px;
}

.image {
    width: 50px;
    padding: 5px;
}

.tablink, .stickerLink {
    font-size: 15px;
}

.nailShapeButton {
    padding-right: 10px;
    width: 70px;
}

}

@media screen and (max-width: 1150px) {

.image {
    width: 45px;
    padding: 5px;
}

#S1, #S2, #S3, #S4, #S5, #S6, #S7, #S8, #S9, #S10 {
    width: 60px;
    height: 30px;
    margin: 5px;
    font-size: 12px;
}

.nailShapeButton {
    padding-right: 10px;
    width: 70px;
}

}

@media screen and (max-width: 1000px) {

.image {
    width: 40px;
    padding: 5px;
}

.nail-color, .nailshape-code {
    font-size: 13px;
}

.nailShapeButton {
    padding-right: 10px;
    width: 60px;
}
}




/*END OF CSS*/