<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://csp.nighthawkcodingsociety.com/"></a>
    </button>
    <div class="collapse navbar-collapse" id="collapseNavbarid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/">UH OH SISTERS</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/subjects">Subject Help <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                            Timekeeping
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/timer/">Tomato Timer</a>
                            <a class="dropdown-item" href="/wCalendar/">Weekly Planner</a>
                            <a class="dropdown-item" href="/Calendar/">Calendar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                            Rooms
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/cafe">Cafe Study</a>
                            <a class="dropdown-item" href="/naturesounds">Nature Study</a>
                            <a class="dropdown-item" href="/darkmode">Dark Mode</a>
                        </div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                            Minigames
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/tictactoe">Tic Tac Toe</a>
                            <a class="dropdown-item" href="/rockpaperscissors">Rock Paper Scissors</a>
                            <a class="dropdown-item" href="/sleepingsimulator">Sleeping Simulator</a>
                            <a class="dropdown-item" href="/spacespam">Space Spam</a>
                            <a class="dropdown-item" href="/graph">Graph</a>
                            <a class="dropdown-item" href="/life">Life</a>
                            <a class="dropdown-item" href="/snake">Snake</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                            Feedback
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/feedback">Discord Message</a>
                            <a class="dropdown-item" href="/feedback2">Email Us</a>
                        </div>
                    </li>
                    <!--- ADD ANY ADDITIONAL NAV LINKS BEFORE "ABOUT US" CODE BELOW!! -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <a class="dropdown-item" href="/aidanwu">Aidan Wu</a>
                            <a class="dropdown-item" href="/williamli">William Li</a>
                            <a class="dropdown-item" href="/vaishavijay">Vaishavi Jayashankar</a>
                            <a class="dropdown-item" href="/williamwu">William Wu</a>
                            <a class="dropdown-item" href="/soren">Soren Zhuang</a>
                        </div>
                    </li>
                    <!-- Search Box -->
                    <div class="px-3">
                        <input id="search" type="search" placeholder="Search" aria-label="Search">
                    </div>

                    <div class="px-3 text-dark">
                        <span id="clock"></span>
                    </div>

                    <div class="btn-group">
                        <div class="form-check form-switch">
                            <input type="checkbox" onclick="darkFunction()" class="form-check-input" id="darkSwitch">
                        </div>
                        <a>Dark Mode<span class="sr-only"></span></a>

                    </div>
                    {% block navbar_script %}
                    <!-- Navigation bar JavaScript support -->
                    <script src={{  url_for("static", filename="Java/navbar.js", version='140') }}></script>

                    <script>

                        const search = document.getElementById('search');
                        const google = 'https://www.google.com/search?q=site%3A+';
                        const site = 'https://furiousfive.tk/';

                        function submitted(event) {
                            if (event.key === 'Enter') {

                                // setup and display window
                                event.preventDefault();
                                const url = search.value;
                                const win = window.open(url, "CompSci Principles Search", location);
                                win.focus();
                            }
                        }
                        search.addEventListener('keypress', submitted);

                        // Clock Control
                        // clockElement global element set for convenience
                        let clockElement = document.getElementById('clock')
                        // Execute clock function on load
                        clock();
                        // Clock update executes on each interval set by timer
                        function clock() {
                            let date = new Date();
                            clockElement.textContent = date.toLocaleString();
                        }
                        // Clock refresh timer, a reoccurring event
                        setInterval(clock, 1000);
                        // End Clock Control
                    </script>
                    {% endblock %}
                </nav>
            </div>
        </div>
</nav>
</body>
